<div class="header">
    <div class="header-left">
   <div class="header-logo">
    <img src="/assets/Frame.svg" alt="логотип">
   </div>
          <nav class="header-nav">
<div class="header-nav-item">Главная</div>
<Div class="header-nav-item">О компании</Div>
<div class="header-nav-item">Каталог</div>
            </nav>
    </div>
            <div class="header-right">
   <div class="header-number"> <img src="/assets/Frame number.svg" alt="номер"></div>
   <div class="header-heart"> <img src="/assets/heart 1.svg" alt="избранное"> </div>
   <div class="header-korzinka"> <img src="/assets/Frame 3..svg" alt="корзинка"></div>
            </div>
</div>
        <div class="header2">
            <div class="header-left2">
        <div class="header-katalog"> <img src="/assets/katalog.svg" alt="каталог"></div>
          <nav class="header2-nav">
          <div class="header2-nav-item">Каталог</div>
          <div class="header2-nav-item">Стройматериалы</div> 
          <div class="header2-nav-item">Инструменты</div>
          <div class="header2-nav-item">Электрика</div>
          <div class="header2-nav-item">Интерьер и отделка</div>
          </nav>
             <div class="header-right2">
                <input  class="search"   type="text" placeholder="Поиск, например Круг зачистной">
                <div class="map"><img src="/assets/map-pin.svg" alt="мэп"></div>
                <div class="place">Москва</div>
             </div>
        </div>
 </div>
 <div class="banner"><img src="/assets/banner.png" alt="баннер"></div>